/* Modal base styles */
.modal-dialog {

  .modal-content {
    margin: 0 auto;
    border-radius: 12px;
    padding: 40px 50px 50px 50px;
  
    .modal-header {
      padding: 0;
      border: none;
      margin-bottom: 40px;
  
      .modal-title {
        font-size: 32px;
        font-weight: 600;
      }
  
      .btn-close {
        width: 42px;
        height: 42px;
        background-size: 25px;
        opacity: 1;
  
        &:hover {
          opacity: 0.7;
        }
      }
    }
  
    .modal-body {
      padding: 0;
      margin-bottom: 25px;

      form {

        div[class^="col-"] {
          margin-bottom: 10px;
        }

        input, select {
          border: #eaeaea 2px solid;
          height: 50px;
          border-radius: 25px;

          &::placeholder {
            opacity: 0.2;
          }

          &[type="radio"] {
            height: 24px;
            width: 24px;
            border-radius: 12px;
          }
        }

        .radio-btns {
          
          &__inner {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;

            .form-check {
              display: inline-block;
              margin-right: 15px;

              &:last-child {
                margin-right: 0;
              }

              .form-check-input, .form-check-label {

                &:hover {
                  cursor: pointer;
                }
              }

              .form-check-label {
                padding-left: 6px;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
  
    .modal-footer {
      border: none;
      padding: 0;
  
      button {
        @include pill-btn(#000, 192px);
      }
    }
  }
}