/* Home Page */

#app-home {
  background-color: #e6e6e6;

  .cinemaddict-app {
    background-color: #fff;
    @include border-radius;
    @include big-drop-shadow;

    &__inner {
      padding: 50px;
    }
  }
}
