/* Home Page */

#app-home {
  background-color: #e6e6e6;
  padding: 100px;

  .cinemaddict-app {
    background-color: #fff;
    padding: 50px;
    @include border-radius;
    @include big-drop-shadow;

    &__inner {
      border: 2px solid red;

      .cinemaddict-app__header {
        border: 2px solid blue;
        display: flex;

        &__logo {

          img {
            max-width: 260px;
          }

          p {
            margin-left: 10px;
            font-style: italic;
          }
        }
      }

      .cinemaddict-app__body {
        border: 2px solid green;
      }
    }
  }
}
