/* Home Page */

#app-home {
  background-color: #e6e6e6;
  padding: 100px;

  .cinemaddict-app {
    background-color: #fff;
    padding: 50px;
    @include border-radius;
    @include big-drop-shadow;

    &__inner {

      .cinemaddict-app__header {
        margin-bottom: 60px;
        display: flex;

        &__logo {
          width: 25%;

          img {
            max-width: 260px;
            margin-bottom: 4px;
          }

          p {
            font-style: italic;
            margin-bottom: 0;
          }
        }

        &__search {
          width: 50%;
        }

        &__add {
          width: 25%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          button {
            @include pill-btn(#000, 192px);
          }
        }
      }

      .cinemaddict-app__body {

        &__entry-row {
          border-top: 2px solid #e6e6e6;
          position: relative;
          padding: 25px 0;
          margin-bottom: 50px;

          
          & > p {
            position: absolute;
            top: -19px;
            font-size: 22px;
            font-family: 'Poppins';
            font-weight: 500;
            background-color: #fff;
            display: inline-block;
            padding-right: 8px;
          }

          & > div {
            display: flex;
            flex-direction: column;

            @media (min-width: 992px) {
              flex-direction: row;
              flex-wrap: wrap;
            }
          }

          .entry {
            @include entry;

            &:last-child {
              margin-right: 0;
            }

            &--button {
              @include entry-btn;
            }
          }
        }
      }
    }
  }
}
