<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CinemAddict</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Derick Moncado" />
    <meta name="description" content="Track your movies and shows"/>
    <meta name="keywords" content="keywords,here" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="{{root}}assets/css/main.css" />
    <!-- endbuild -->
  </head>

  <body>
    <main role="main">
      <!-- Body -->
      {{> body}}

      <!-- Footer -->
      {{> footer}}
    </main>

    <!-- JS -->
    <!-- build:js -->
    <script type="text/javascript" src="{{root}}assets/js/vendor/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/swiper-bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/emergence.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild -->
  </body>
</html>
